
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 600;
}

h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
}
h3 {
  font-size: 24px;
  margin-bottom: 24px;
}
h4 {
  font-size: 18px;
  margin-bottom: 18px;
}

p {
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.button {
  background-color: var(--lightpurple);
  color: white;
  align-self: center;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
}

.button:hover {
  background-color: var(--purple);

}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 18px;
  }

}