.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: none;
  }

.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20%;
    background-color: var(--lightpurple);
    width: 50%;
    color: var(--white);

}

.popup-container .close-btn {
    align-self: flex-end;
    border: 0;
    background-color: transparent;
    padding: 0;
    color: var(--white);
    font-size: 20px;
}


@media screen and (max-width: 700px) {
    .popup-container {
        width: 80%;
    }
}