.question-view {
  display: flex;
  flex-direction: row;
  height: 80vh;
}

.sidebar {
  flex-basis: 25%;
  flex-shrink: 2;
}

.sidebar > form {
  width: 60%;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.category-item:hover {
  cursor: pointer;
}

.questions-list {
  flex-basis: 75%;
  text-align: center;
  overflow-y: scroll; 
}

.Question-holder {
  padding: 10px 20px;
  border: 2px black solid;
  text-align: left;
  margin: 0 5px 15px 5px;
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.Question {
  font-size: 21px;
  width: 100%;
}

.answer-holder {
  font-size: 25px;
  height: 25px;
  margin: 5px 0px;
}

.show-answer {
  width: 100px;
  margin-top: 5px;
  background-color: dodgerblue;
  color: white;
  padding: 3px 5px;
  margin-left: 0px !important;
}

.pagination-menu {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

span.page-num {
  margin: 0 10px;
  font-weight: bolder;
  font-size: 16px;
  padding: 5px;
}

.pagination-menu .page-num:hover {
  cursor: pointer;
}

span.page-num.active {
  color: white;
  background-color: blue
}

img.category {
  width: 30px;
}

img.delete {
  width: 24px;
  cursor: pointer;
  padding: 2px;
}

img.delete:hover {
  border: 1px solid black;
}