.question-view {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px);
}

.sidebar {
  flex-basis: 25%;
  flex-shrink: 2;
  border-right: 1px solid grey;
  text-align: center;
  padding-top: 20px;
}

.sidebar h3 {
  font-weight: 500;
  font-size: 18px;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.category-item:hover {
  cursor: pointer;
  scale: 1.1;
}

.questions-list {
  padding:  20px 10px;
  flex-basis: calc(75% - 50px);
  text-align: center;
  overflow-y: scroll;

}

.question-holder {
  padding: 10px 20px;
  border: 2px solid grey;
  border-radius: 10px;
  text-align: left;
  margin: 0 0px 20px 0px;
}

.question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.question {
  font-size: 20px;
  width: 100%;
}

.answer-holder {
  font-size: 18px;
  margin-top: 5px;
  font-style: italic;
}

.show-answer {
  width: fit-content;
  margin-top: 20px;
}

.pagination-menu {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

span.page-num {
  margin: 0 10px;
  font-weight: bolder;
  font-size: 16px;
  padding: 5px;
}

.pagination-menu .page-num:hover {
  cursor: pointer;
}

span.page-num.active {
  color: white;
  background-color: var(--darktaupe)
}

img.category {
  width: 30px;
}

img.delete {
  width: 24px;
  cursor: pointer;
  padding: 2px;
}

img.delete:hover {
  border: 1px solid black;
}