.question-view {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px);
}

.sidebar {
  flex-basis: 30%;
  margin-left: 50px;
  flex-shrink: 2;
  border-right: 1px solid grey;
  text-align: center;
  padding-top: 20px;
}

.sidebar h3 {
  font-weight: 500;
  font-size: 18px;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.category-item:hover {
  cursor: pointer;
  scale: 1.1;
}

.questions-list {
  padding:  20px 10px;
  flex-basis: calc(70% - 100px);
  text-align: center;
  overflow-y: scroll;
}

.question-holder {
  padding: 10px 20px;
  border: 2px solid grey;
  border-radius: 10px;
  text-align: left;
  margin: 0 0px 20px 0px;
}

.question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.question {
  font-size: 16px;
  width: 100%;
}

.answer-details {
  width:  30%;
  border: 1px solid var(--lightpurple);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.answer-details summary {
  padding: 5px;
}

.answer-details[open] {
  width:  fit-content;
}

.answer-details[open] summary {

  border-bottom: 1px solid var(--lightpurple);
}

.answer-details p {
  font-weight: 500;
  padding: 5px 10px;
  font-style: italic;
}

img.category {
  width: 30px;
}

img.delete {
  width: 24px;
  cursor: pointer;
  padding: 2px;
}

img.delete:hover {
  border: 1px solid black;
}

.pagination-menu {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

span.page-num {
  margin: 0 10px;
  font-weight: bolder;
  font-size: 16px;
  padding: 5px;
}

.pagination-menu .page-num:hover {
  cursor: pointer;
}

span.page-num.active {
  color: white;
  background-color: var(--purple)
}

@media screen and (max-width: 900px) {

  .sidebar {
    flex-basis: 40%;
    margin-left: 30px;
  }

  .questions-list {
    padding:  20px 10px;
    flex-basis: calc(60% - 60px);
  }

}

@media screen and (max-width: 700px) {

  .question-view {
    flex-direction: column;
    height: fit-content;
  }

  .sidebar {
    flex-basis: 100%;
    width: calc(100% - 40px);
    margin: 50px auto 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid grey;
  }
  
  .categories-list {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
  }

  .category-item {
    justify-content: end;
  }

  .category-item:hover {
    scale: 1.2;
  }

  .category-item span{
    display: none;
  }

  .questions-list {
    padding:  20px 10px;
    flex-basis: 100%;
    overflow-y:hidden;
    width: calc(100% - 40px);
    margin: auto;
  }
}

