.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.search-text {
    border: 1px solid var(--darktaupe);
    padding: 10px;
    font-size: 12px;
}

input:focus {
    border: 2px solid rgb(203, 203, 225);
    border: 0;
}

.search-text:focus-visible {
    border: 2px solid rgb(203, 203, 225)
}

.search-button {
    border-radius: 0 5px 5px 0;
    border: 1px solid var(--darktaupe);
}