.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.search-text {
    border: 1px solid var(--lightpurple);
    border-radius: 5px 0 0 5px;
    padding: 10px 15px;
    font-size: 16px;
}

.search-text:focus {
    outline: none;
    border: 2px solid rgb(161, 161, 249);
}

.search-button {
    border-radius: 0 5px 5px 0;
}

.search-button img {
    width: 16px;
}